*
!.modrinth/
!.modrinth/**/*

!.curseforge/
!.curseforge/**/*

!.resources/
!.resources/**/*

*.zip
*.mrpack

!.github/
!.github/**/*
!.gitignore
!.packwizignore

!config
!config/**/*

!kubejs
!kubejs/**/*